/* 
Estilo para tabla egresos
Desarrollo: Julio Buendia
Fecha: 2020 03 19   12 : 00
*/

/* DivTable.com */
.divTable{
	display: table;
	width: 85%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableCell2, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
	width: 20%;
}
.divTableCell10, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
	width: 80%;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

